
	<footer>
		<ul id="copyright">
			<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a></li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>


